<div>
  <a href='<%= routes.notes_index_path %>'>Note List</a>
</div>

<div>
  <% if authenticated? %>
    User is authenticated
  <% else %>
    User is not authenticated
  <% end %>
</div>

<form action='/notes' method='POST'>
  <input
    id='title'
    name='title'
    placeholder='Note Title'
  />
  <br>
  <textarea
    id='body'
    name='body'
    placeholder='Note here pls'
    rows='10'
    cols='40'></textarea>
  <br>
  <button type='submit'>Submit</button>
</form>
